[Unit]
Description=eth_erigon_rpc_deamon_service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=./home/erigon/build/bin/rpcdaemon --datadir=/home/erigonchaindata --private.api.addr=0.0.0.0:9090 --http.api=eth,erigon,web3,net,debug,trace,txpool,shh

[Install]
WantedBy=multi-user.target