[Unit]
Description=geth_linux_service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=geth --syncmode "fast" --http --http.api personal,eth,net,web3  --http.addr 0.0.0.0

[Install]
WantedBy=multi-user.target